@function border-shadow($alpha, $color: $black, $size: 1px) {
  @return 0 0 0 $size rgba($color, $alpha);
}

$divider-black: color($ink, 100);
$black: color($ink, 400);
$drop-shadow-opacity: 0.13;
$border-shadow-opacity: 0.13;
$transition-duration: 0.05s;
$transition-ease: ease-in;
// Elevations
// all shadow lists must be the same length to avoid flicker in transitions.
$elevation-shadow-0: 0 0 0 1px $divider-black, 0 0 0 rgba($black, 0),
  0 0 0 rgba($black, 0) !default;
$elevation-shadow-1: border-shadow($border-shadow-opacity),
  0 0 0 rgba($black, 0), 0 1px 1px rgba($black, $drop-shadow-opacity) !default;
$elevation-shadow-2: border-shadow($border-shadow-opacity),
  0 1px 1px rgba($black, $drop-shadow-opacity),
  0 3px 7px rgba($black, $drop-shadow-opacity) !default;
$elevation-shadow-3: border-shadow($border-shadow-opacity),
  0 2px 4px rgba($black, $drop-shadow-opacity),
  0 8px 24px rgba($black, $drop-shadow-opacity) !default;
$elevation-shadow-4: border-shadow($border-shadow-opacity),
  0 4px 8px rgba($black, $drop-shadow-opacity),
  0 10px 30px 5px rgba($black, $drop-shadow-opacity) !default;

$elevation-shadows: (
  $elevation-shadow-1,
  $elevation-shadow-2,
  $elevation-shadow-3,
  $elevation-shadow-4
);

@mixin generateCardElevationModifiers() {
  @for $index from 1 through length($elevation-shadows) {
    &.--elevation-#{$index - 1} {
      box-shadow: nth($elevation-shadows, $index);
    }
  }
}

@mixin surface-elevation($level) {
  $_level: $level + 1;
  box-shadow: nth($elevation-shadows, $_level);
}

@mixin card-base() {
  box-sizing: border-box;
  display: block;
  border-radius: $border-radius;
  min-height: spacing(2);
  max-width: 100%;
  background-color: white;
}

@mixin card--interactive() {
  transition: transform ($transition-duration * 2) $transition-ease,
    box-shadow ($transition-duration * 2) $transition-ease;
  &:hover {
    box-shadow: $elevation-shadow-4;
    cursor: pointer;
  }

  &:active {
    opacity: 0.9;
    box-shadow: $elevation-shadow-1;
    transition-duration: 0;
  }
}

.card {
  @include card-base();
  @include generateCardElevationModifiers();
  &.--interactive {
    @include card--interactive();
  }
}

.card__content {
  box-sizing: border-box;
  display: block;
  padding: spacing(1);
  width: 100%;
  height: 100%;
  &.--padding-2 {
    padding: spacing(2);
  }
}
