@import "lib";

.divider {
  position: relative;
}

.divider-style--none {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.divider-style--normal {
  border-bottom: 1px solid color($ink, 100);
  margin-top: 1px;
}

.divider-style--dashed {
  border-bottom: 1px dashed color($ink, 100);
}

.divider__content {
  padding-left: spacing(1);
  padding-right: spacing(1);
  background: white;
  position: absolute;
  bottom: -0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  text-shadow: -1px -1px 1px white, 0px 0px 2px white, 0px 0px 3px white;
}
