/*
  BREAKPOINTS
*/

$mobile-width: 480px;
$tablet-width: 768px;

/**
 * Spacing / Font sizes
 */

$spacing-unit: 1rem !global;
$root-font-size: 14px !default;

/**
 * General
 */

/**
 * Theme / Colours
 */
$base-0: #333;

$font-0: #333;
$font-1: #444;
$font-2: #555;

$primary-0: skyblue;
